<launch>

    <!-- Launch turtlebot_scan node -->
    <include file="$(find turtlebot_scan)/launch/turtlebot_scan.launch" />
  
    <node pkg="turtlebot_planner" type="turtlebot_planner.py" name="turtlebot_planner" output="screen">
        <param name="goal_x" value="45.0" />
        <param name="goal_y" value="20.0" />
    </node>
</launch>
